<% provide title: t("home") %>
<% if user_signed_in? %>
<%= render "shared/examination_start" %>
<table class="activities">
  <tr>
    <th><%= t "activities.time" %></th>
    <th><%= t "activities.user" %></th>
    <th><%= t "activities.action" %></th>
    <th><%= t "activities.target" %></th>
    <th><%= t "activities.status" %></th>
  </tr>
  <%= render @feeds %>
</table>
<% end %>
