<tr>
  <td><%= activity.created_at %></td>
  <td><%= activity.user.name %></td>
  <% if activity.examination_activities? %>
    <td><%= link_to activity.action, activity.object %></td>
  <% elsif activity.question_activities? %>
    <td><%= link_to activity.action, edit_question_path(activity.object) %></td>
  <% end %>
  <td><%= activity.object_name %></td>
  <td><%= activity.object_status %></td>
  <td><%= activity.object_score %></td>
</tr>
